dash 
dash-bootstrap-components==0.9.1
dash-core-components 
dash-daq==0.5.0
dash-html-components 
dash-renderer 
dash-table 
dask 
Flask 
Flask-Compress 
gunicorn==20.0.4 
jupyter==1.0.0
jupyter-client 
jupyter-console 
jupyter-core 
jupyter-dash==0.3.1
jupyter-packaging 
jupyter-server 
jupyter-server-proxy==1.0
jupyterlab 
jupyterlab-dash==0.1.0a2
jupyterlab-pygments 
jupyterlab-server 
jupyterlab-widgets 
llvmlite
notebook 
numba==0.51.2
numpy==1.20.2
numpydoc  
plotly==4.12.0
plotly-express==0.4.1 
python-dev-tools==2020.9.10
scattertext==0.0.2.67
scikit-image==0.18.1
scikit-learn
sentence-transformers==1.1.0
sklearn==0.0
summarizer
transformers==4.5.1
